body {
  background-color: whitesmoke;
  margin: 0 auto;
  overflow-x: hidden;
}

.ellipsis-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* so luong dong trong title*/
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

nav {
  opacity: 0.8;
}

header,
main,
footer {
  width: 100%;
}

.hot_news {
  /* hinh anh background */
  background: url("https://i.pinimg.com/736x/26/bd/1f/26bd1ff6677c6beb151d537cf2670c55.jpg")
    center/cover no-repeat fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* lan di nhung hinh anh giu nguyen */
  background-attachment: fixed;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 550px;
  gap: 15px;
  flex-direction: column;

  .card {
    background-color: #000000cc;
    border-radius: 10px;
    color: #fff;
    padding: 20px;
    height: 500px;
    cursor: pointer;
  }

  .card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.3s ease;
  }

  .card:hover .card-img-top {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
}

main {
  width: 100%;
  margin: 30px 15px;
  cursor: pointer;

  .news .card {
    margin: 20px;
    padding: 20px;
    img {
      height: 250px;
      object-fit: cover;
      object-position: center;
    }
    &:hover {
      background-color: #444;
      color: white;
    }
  }
}

.custom-btn {
  background-color: #d6d2d2;
  color: #000000;
  border: 2px solid #d6d2d2;
  padding: 5px 35px;
  border-radius: 10px;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  transition: 0.3s;
  line-height: 1.5;
}

.custom-btn:hover,
.custom-btn.active {
  background-color: #444;
  color: #fff;
  border-color: #fff;
}

.navbar-nav .nav-link {
  font-size: 18px;
  margin-right: 20px;
  letter-spacing: 1px;
}

.my-card img {
  max-width: 300px;
  height: auto;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.my-card img.zoomed {
  transform: scale(1.5);
  z-index: 10;
}

body {
  background-color: whitesmoke;
  margin: 0 auto;
  overflow-x: hidden;
}

.ellipsis-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* so luong dong trong title*/
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

nav {
  opacity: 0.8;
}

header,
main,
footer {
  width: 100%;
}

.hot_news {
  /* hinh anh background */
  background: url("https://i.pinimg.com/1200x/1c/d6/0c/1cd60c5cfdb662b3c117350876f19a2a.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* lan di nhung hinh anh giu nguyen */
  background-attachment: fixed;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 550px;
  gap: 15px;
  flex-direction: column;

  .card {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: #fff;
    padding: 20px;
    height: 500px;
    cursor: pointer;
  }

  .card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.3s ease;
  }

  .card:hover .card-img-top {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
}

main {
  width: 100%;
  margin: 30px 15px;
  cursor: pointer;

  .news .card {
    margin: 20px;
    padding: 20px;
    img {
      height: 250px;
      object-fit: cover;
      object-position: center;
    }
    &:hover {
      background-color: #444;
      color: white;
    }
  }
}

.custom-btn {
  background-color: #d6d2d2;
  color: #000000;
  border: 2px solid #d6d2d2;
  padding: 5px 35px;
  border-radius: 10px;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  transition: 0.3s;
  line-height: 1.5;
}

.custom-btn:hover,
.custom-btn.active {
  background-color: #444;
  color: #fff;
  border-color: #fff;
}

.navbar-nav .nav-link {
  font-size: 18px;
  margin-right: 20px;
  letter-spacing: 1px;
}

/* BLOG WRAPPER */
.blog-wrapper {
  max-width: 900px;
  margin: 0 auto;
}

/* SCROLL BOX */
.blog-scroll {
  max-height: 700px;
  overflow-y: auto;
  padding: 10px;
}

/* CARD */
.blog-card {
  background: #cfd39a;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 30px;
}

/* HEADER */
.blog-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.email {
  font-weight: bold;
}

.check {
  background: #00e5ff;
  color: #fff;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  margin-left: 5px;
}

.date {
  font-size: 13px;
  color: #555;
}

/* IMAGE */
.blog-image {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 18px;
  margin-top: 10px;
}

/* ACTION */
.blog-action {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 15px;
}

.action-btn {
  background: white;
  padding: 10px 16px;
  border-radius: 14px;
  cursor: pointer;
}

.like {
  background: #eef0ff;
}

.blog-top-bar {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
}

.blog-search {
  flex: 1;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.blog-filter {
  padding: 10px;
  border-radius: 15px;
}

.btn-create {
  background: #ffb703;
  color: #000;
  padding: 10px 18px;
  border-radius: 20px;
  font-weight: bold;
  text-decoration: none;
}

.btn-create:hover {
  background: #ffa200;
}
