body {
    background-color: whitesmoke;
    margin: 0 auto;
    overflow-x: hidden;
  }
  
  .ellipsis-multiline {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* so luong dong trong title*/
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  nav {
    opacity: 0.8;
  }
  
  header,
  main,
  footer {
    width: 100%;
  }
  
  .hot_news {
    /* hinh anh background */
    background: url("https://i.pinimg.com/736x/26/bd/1f/26bd1ff6677c6beb151d537cf2670c55.jpg")
    center/cover no-repeat fixed;  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* lan di nhung hinh anh giu nguyen */
    background-attachment: fixed;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 550px;
    gap: 15px;
    flex-direction: column;
  
    .card {
      background-color: #000000cc;
      border-radius: 10px;
      color: #fff;
      padding: 20px;
      height: 500px;
      cursor: pointer;
    }
  
    .card-img-top {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius: 10px;
      transition: all 0.3s ease;
    }
  
    .card:hover .card-img-top {
      transform: scale(1.05);
      transition: transform 0.3s ease;
    }
  }
  
  main {
    width: 100%;
    margin: 30px 15px;
    cursor: pointer;
  
    .news .card {
      margin: 20px;
      padding: 20px;
      img {
        height: 250px;
        object-fit: cover;
        object-position: center;
      }
      &:hover {
        background-color: #444;
        color: white;
      }
    }
  }
  
  .custom-btn {
    background-color: #d6d2d2;
    color: #000000;
    border: 2px solid #d6d2d2;
    padding: 5px 35px;
    border-radius: 10px;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    transition: 0.3s;
    line-height: 1.5;
  }
  
  .custom-btn:hover,
  .custom-btn.active {
    background-color: #444;
    color: #fff;
    border-color: #fff;
  }
  
  .navbar-nav .nav-link {
    font-size: 18px;
    margin-right: 20px;
    letter-spacing: 1px;
  }
  
  .my-card img {
    max-width: 300px;
    height: auto;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .my-card img.zoomed {
    transform: scale(1.5);
    z-index: 10;
  }
  
  body {
    background-color: whitesmoke;
    margin: 0 auto;
    overflow-x: hidden;
  }
  
  .ellipsis-multiline {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* so luong dong trong title*/
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  nav {
    opacity: 0.8;
  }
  
  header,
  main,
  footer {
    width: 100%;
  }
  
  .hot_news {
    /* hinh anh background */
    background: url("https://i.pinimg.com/1200x/1c/d6/0c/1cd60c5cfdb662b3c117350876f19a2a.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* lan di nhung hinh anh giu nguyen */
    background-attachment: fixed;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 550px;
    gap: 15px;
    flex-direction: column;
  
    .card {
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: 10px;
      color: #fff;
      padding: 20px;
      height: 500px;
      cursor: pointer;
    }
  
    .card-img-top {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius: 10px;
      transition: all 0.3s ease;
    }
  
    .card:hover .card-img-top {
      transform: scale(1.05);
      transition: transform 0.3s ease;
    }
  }
  
  main {
    width: 100%;
    margin: 30px 15px;
    cursor: pointer;
  
    .news .card {
      margin: 20px;
      padding: 20px;
      img {
        height: 250px;
        object-fit: cover;
        object-position: center;
      }
      &:hover {
        background-color: #444;
        color: white;
      }
    }
  }
  
  .custom-btn {
    background-color: #d6d2d2;
    color: #000000;
    border: 2px solid #d6d2d2;
    padding: 5px 35px;
    border-radius: 10px;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    transition: 0.3s;
    line-height: 1.5;
  }
  
  .custom-btn:hover,
  .custom-btn.active {
    background-color: #444;
    color: #fff;
    border-color: #fff;
  }
  
  .navbar-nav .nav-link {
    font-size: 18px;
    margin-right: 20px;
    letter-spacing: 1px;
  }
  
  

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1rem;
  }
  
  @media (max-width: 991.98px) {
    .row {
        grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (max-width: 767.98px) {
    .row {
        grid-template-columns: repeat(2, 1fr);
    }
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
  }
  
  .modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
  }
  
  .close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover {
    color: #e74c3c;
  }

  .blog-post img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 16px;
    margin-top: 12px;
  }