.text-start {
    text-align: left !important;
}

.my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
}

div {
    unicode-bidi: isolate;
}

.bg-body-terirary {
    --bs-bg-opacity: 1;
    background-color: black(var(--bs-tetiary-bg-rgb), var(--bs-bg-opacity)) !important;
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-font-height);
    color: aliceblue var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: black var(--bs-body-bg);
    
}